POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=surf_forecaster
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_from_number
MY_PHONE_NUMBER=your_phone_number
DISCORD_WEBHOOK=your_webhook
