# Environments
.env
.env.*
.venv/
venv/
.surf_venv/
!.env.example


# Notebooks
notebooks/

__pycache__/
.ipynb_checkpoints/
*.pyc

# CSVs
*.csv

# macOS
.DS_Store

# dbt
logs/

# editors
.vscode/
.idea/

# python tooling caches
.pytest_cache/
.mypy_cache/