requests
ipykernel
openmeteo-requests
numpy
pandas
retry_requests
requests_cache
python-dotenv
sqlalchemy
psycopg2-binary
pyyaml
dbt-core==1.8.2
dbt-postgres==1.8.2
matplotlib
seaborn
fastapi
uvicorn
sqlmodel
jinja2